* {
  margin: 0;
  padding: 0;
}
body {
  background: url(./pic/galaxy.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  color: wheat;
  /* background-size: 100px 100px; */
}
.brand img {
  border-radius: 45%;
  width: 85px;
  padding: 0 25px;
}
.brand a{
    text-decoration: none;
    color: wheat;
}
.brand p{
    display: inline;
}
.brand {
  /* to bring "spotify" to centre  */
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.container {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 50%;
}
.heading {
  color: white;
  font-size: 40px;
  /* border-bottom: 5px solid blue ; */
  margin-bottom: 30px;
  padding: 14px 0;
}
.subHeading {
  color: white;
  font-size: 30px;
}
.para {
  font-size: 20px;
}
